.jumbotron{
	background: #f2f2f2;
	color: black;
	text-align: center;
}



.card-producto{
	flex: 1 150px;
	padding: 20px 20px 20px 20px;
	margin-top: 20px;


}

.btn-reserva{
	width: 50%;
	color: #1FDE82;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 5px 15px;
    border: 1px solid #1FDE82;
    background: #ffffff;
}

.btn-reserva:hover{
	display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;   
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
    transition: color .5s;
}

footer{
	padding: 10px 10px 0 10px;
	background: #505050;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #ffffff;
	text-align: center;
}

footer a{
	color: #ffffff;
}